.carousel1-container {
  max-height: 100vh;
  overflow: hidden;
  width: 100%;
  margin-top: 10%;
}

.carousel .thumbs-wrapper {
  margin-top: -100px;
  margin-right: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.carousel .thumbs-wrapper .thumb {
  flex-basis: 100w;
  height: 5vw;
  margin-bottom: 1vw;
  cursor: pointer;
}

.carousel .thumbs-wrapper .thumb.selected {
  border: 2px solid #ffdf00;
}

.carousel .thumbs-wrapper .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-overlay.overlay-image1 .logo-title {
  position: absolute;
  top: 20%;
  right: 12vw;
  width: 25vw;
  height: 7vw;
}

.carousel-overlay.overlay-image1 .content-description {
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 77%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3em;
  line-height: 1.2;
}

.carousel-overlay .cta-links-container .cta-item {
  margin: 0 5px;
}

.carousel-overlay .cta-links-container .cta-item .button {
  background-color: yellow;
  color: black;
  border-radius: 50px;
  padding: 1vw 2vw;
  font-size: 1.2vw;
  font-weight: bold;
  text-decoration: none;

}

.carousel-overlay.overlay-image1 .cta-links-container {
  top: 65%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  bottom: 5%;
  transform: translateX(-50%);
  left: 70%;
}

.carousel-overlay.overlay-image1 .cta-links-container .cta-item[data-title="Explore"] .cta-link {
  background-color: black;
  border: 2px solid yellow;
  color: white;
}

.carousel-overlay.overlay-image2 .logo-title {
  width: 15vw;
  height: 14.4vw;
  position: absolute;
  top: 7%;
  left: 17vw;
}

.carousel-overlay.overlay-image2 .content-description {
  color: white;
  font-size: 1.7vw;
  font-weight: bold;
  text-align: center;
  width: 60%;
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3em;
  line-height: 1.2;
}

.carousel-overlay.overlay-image2 .cta-links-container {
  top: 72%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  bottom: 5%;
  left: 30%;
  transform: translateX(-50%);
}

.carousel-overlay.overlay-image2 .cta-links-container .cta-item[data-title="Get Tickets"] .cta-link {
  background-color: black;
  border: 2px solid yellow;
  color: white;
}

.carousel-overlay.overlay-image3 .content-title {
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
  text-align: left;
  width: 50%;
  position: absolute;
  top: 32%;
  left: 22%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3em;
  line-height: 1.2;
}

.carousel-overlay.overlay-image3 .content-description {
  color: white;
  font-size: 1.8vw;
  font-weight: bold;
  text-align: left;
  width: 60%;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3em;
  line-height: 1.2;
}

.carousel-overlay.overlay-image3 .cta-links-container {
  justify-content: flex-start;
  font-size: 1.5vw;
  top: 70%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  bottom: 5%;
  left: 20%;
  transform: translateX(-50%);
}

.carousel-overlay.overlay-image4 .logo-title {
  width: 20vw;
  height: 14.5vw;
  position: absolute;
  top: 10%;
  left: 8vw;
}

.carousel-overlay.overlay-image4 .content-description {
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  width: 65%;
  position: absolute;
  top: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3em;
  line-height: 1.2;
}

.carousel-overlay.overlay-image4 .cta-links-container {
  justify-content: flex-start;
  font-size: 2vw;
  top: 79%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  bottom: 5%;
  left: 20%;
  transform: translateX(-50%);
}

/*HEADER*/
.carousel1-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  text-align: center;
 
}

.title1-text {
  text-align: center;
  color: #ffffff;
  margin-top: 0%;
  font-size: 20px;
  font-weight: bold;
}
.header1-line {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 0.5px solid #fff;
  width: calc(100vw - 40px);
  /* Resta 40px para tener en cuenta el padding horizontal del carousel1-header */
}
@media (max-width: 768px) {
  .carousel1-container {
  max-width: 100%;
  }}
@media (max-width: 768px) {
  .carousel .thumbs-wrapper {
    margin-top: 0;
    margin-right: 0;
    align-items: center;
  }

  .carousel .thumbs-wrapper .thumb {
    flex-basis: auto;
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
  }
}
@media (max-width: 768px) {
  .carousel-overlay .logo-title,
  .carousel-overlay .overlay-image4.logo-title {
    top: 10%;
    right: 5vw;
    width: 38vw;
    height: auto;
  }
}
@media (max-width: 768px) {
  .carousel-overlay .content-description {
    font-size: 2vw;
    width: 90%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    line-height: 1.5;
    margin-top: 2%;
  }
}
@media (max-width: 768px) {
  .carousel-overlay .cta-links-container .cta-item .button {
    padding: 0.8em 1.6em;
    font-size: 1.5vw;
  }
}
