.header {
  position: relative;
  background: linear-gradient(to right, black, black);
  color: rgb(255, 255, 255);
  padding: 20px;
  width: 100%;
  border-top: 4px solid rgba(240, 240, 240, 0.418);
  text-align: center;
  top: 15px;
  
}
.title-container {
  display: flex;
  justify-content: center;
}

.title-text {
  text-align: center;
  color: #fff;
  margin-top: 20px;
  /* Ajusta el margen superior según sea necesario */
}

.mobile-title-text {
  display: block;
  color: #fff;
}

.non-mobile-title-text {
  display: none;
  color: #fff;
}

@media (min-width: 768px) {
  .mobile-title-text {
    display: none;
  }

  .non-mobile-title-text {
    display: block;
    color: #fff;
  }
}